<div class="col-xs-6 col-sm-4 col-md-3">
  <div class='film_wrapper'>
    <div class='image_wrapper'>
      <%= link_to image_tag(film.thumbnail, class: "film_img"), film_path(film.slug) %>
      <div class="film_title"><%= link_to film.title.upcase, film_path(film.slug) %></div>
    </div>
    <div class='year_dur'>
      <p class="float-left"><%= film.year %></p>
      <p class='float-right'><%= film.duration %> min</p>
    </div>
    <div class='film_desc'>
      <p><%= truncate(film.description, length: 150, :escape => false)  %></p>
    </div>
  </div>
</div>
