<div class='header'>
  <%= link_to image_tag("logo.png", :alt => "Estela Bravo Collection"), root_path  =%>
  <nav class="navbar navbar-default">
   <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <%= nav_link "BRAVO COLLECTION", bravo_collection_path %>
        <%= nav_link "ESTELA BRAVO", estela_bravo_path %>
        <%= nav_link "FILMS", films_path %>
        <%= nav_link "FINDING AID", finding_aids_path %>
        <%= nav_link "VIDEO HISTORY OF THE CASTRO ERA", "/collections/video-history-of-the-castro-era" %>
      </ul>
    </div><!-- /.navbar-collapse -->
   </div><!-- /.container-fluid -->
  </nav>
</div><!-- header -->
