<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />

  <title><%= full_title(yield(:title)).html_safe %></title>
  <%=  stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Lato' %>
  <%=  stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Roboto' %>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="page_container">
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= render "javascript" %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
